<div class="jumbotron">
    <table id="elres">
        <thead>
            <tr><th>ID</th>
            <th>Name</th>
            <th>Course</th>
            <th>Score</th></tr>
        </thead>
        <tbody></tbody>
    </table>    
</div>
<div class="row">
    <div class="col-md-4">
        <form id="newres" action="/api/elresults" method="post">
            <label for="personid">Person ID</label>
            <input name="personid" id="personid" /><br />
            <label for="personname">Person Name</label>
            <input name="personname" id="personname" /><br />
            <label for="courseid">Course ID</label>
            <input name="courseid" id="courseid" /><br />
            <label for="coursedesc">Course Description</label>
            <input name="coursedesc" id="coursedesc" /><br />
            <label for="score">Score</label>
            <input name="score" id="score" /><br />
            <label for="maxscore">Maximum Score</label>
            <input name="maxscore" id="maxscore" /><br />
            <label for="passfail">Pass or Fail</label>
            <select name="passfail" id="passfail">
                <option value="true">Pass</option>
                <option value="false">Fail</option>
            </select><br />
            <submit class="btn btn-primary">Submit</submit>

        </form>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#elres").DataTable({
                ajax: {
                    url: "/api/elresults",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "personname"
                    },
                    {
                        data: "coursedesc"
                    },
                    {
                        data: "score"
                    }
                ]
            });

           

            alert("Hello");
        });

        $('#newres').submit(function (e) {
            e.preventDefault();
            alert("Hi");
            $.ajax({
                type: "POST",
                url: "/api/elresults",
                data: $("#newres").serialize(),
                success: function (data) {
                    alert("Success");
                    console.log(data);
                },
                error: function (data) {
                    alert("There was a problem");
                    console.log(data);
                }
            });
        });
    </script>
}
